.filter .form-input-group {
  width: 100%;
}
.filter-form-fields {
  margin-bottom: 22px;
}
.filter-form-fields .form-input {
  padding-top: 10px;
  padding-bottom: 10px;
}
.filter-choose-item {
  position: relative;
}
.filter-choose-item-inner {
  margin-bottom: -10px;
  margin-top: -10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 12px;
  padding-right: 12px;
  margin-right: -12px;
  margin-left: -12px;
  width: -webkit-calc(100% + 24px);
  width: calc(100% + 24px);
  -webkit-border-radius: inherit;
          border-radius: inherit;
  text-align: center;
}
.filter-choose-item input {
  position: absolute;
  left: 15px;
  top: 10px;
  z-index: -1;
}
input:checked + .filter-choose-item-inner {
  background: rgba(0, 146, 228, 0.2);
  -webkit-box-shadow: 0 0 0 1px rgba(0, 146, 228, 0.8);
          box-shadow: 0 0 0 1px rgba(0, 146, 228, 0.8);
}
.filter-choose-group {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  width: 100%;
}
.filter-choose-group-item {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
}
.filter-choose-group-item + .filter-choose-group-item {
  margin-left: 8px;
}
.filter-choose-group-num {
  max-width: 44px;
}
.lk-header__btn--user .btn-icon-round {
  background: rgba(242, 178, 1, 0.6);
}
.header-mobile-logo .logo__img img {
  height: 30px;
}
.form-group-separator {
  -webkit-align-self: center;
          align-self: center;
  color: var(--color-text-40);
  margin: 0 6px;
}
@media (min-width: 680px) {
  .jk-item-gallery {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .jk-item-gallery__preview {
    height: 46px;
  }
}
.filter-inner-cover.fixed:not(.toggle-active) .filter--inner .filter-choose-item-inner {
  padding-top: 6px;
  padding-bottom: 6px;
  margin-top: -6px;
  margin-bottom: -6px;
}
.jk-edit-form-btns {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
}
.jk-edit-form-btns .btn {
  margin-right: 15px;
}
.jk-item-gallery {
  position: relative;
}
.card-control {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 3;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
}
.ml-auto {
  margin-left: auto;
}
.jk-item-new-like {
  position: absolute;
  right: 26px;
  top: 26px;
  z-index: 3;
  cursor: pointer;
}
.jk-item-new-like .icon {
  width: 22px;
  height: 22px;
  fill: none;
  stroke: #fff;
  stroke-width: 2;
}
.jk-item-new-like.like-btn--active .icon {
  fill: currentColor;
  stroke: currentColor;
}
.lk-content-obj .lk-control:first-of-type {
  margin-top: 0;
}
.team__top {
  display: none;
}
.user-cover {
  padding-top: 20px;
  padding-bottom: 20px;
}
.team {
  padding-bottom: 20px;
}
.jk-item-properties {
  padding-left: 10px;
}
.filter {
  background: url("../img/bg/filter-left.png") no-repeat 92px bottom, url("../img/bg/filter-right.png") no-repeat -webkit-calc(100% - 60px) bottom;
  background: url("../img/bg/filter-left.png") no-repeat 92px bottom, url("../img/bg/filter-right.png") no-repeat calc(100% - 60px) bottom;
}
@media screen and (min-width: 1960px) {
  .filter {
    background: url("../img/bg/filter-left.png") no-repeat -webkit-calc(50% - 760px) bottom, url("../img/bg/filter-right.png") no-repeat -webkit-calc(50% + 760px) bottom;
    background: url("../img/bg/filter-left.png") no-repeat calc(50% - 760px) bottom, url("../img/bg/filter-right.png") no-repeat calc(50% + 760px) bottom;
  }
}
@media screen and (max-width: 1800px) {
  .filter {
    background: url("../img/bg/filter-left.png") no-repeat -webkit-calc(50% - 640px) bottom, url("../img/bg/filter-right.png") no-repeat -webkit-calc(50% + 640px) bottom;
    background: url("../img/bg/filter-left.png") no-repeat calc(50% - 640px) bottom, url("../img/bg/filter-right.png") no-repeat calc(50% + 640px) bottom;
  }
}
@media screen and (max-width: 1386px) {
  .filter {
    background: url("../img/bg/filter-left.png") no-repeat -webkit-calc(50% - 600px) bottom, url("../img/bg/filter-right.png") no-repeat -webkit-calc(50% + 600px) bottom;
    background: url("../img/bg/filter-left.png") no-repeat calc(50% - 600px) bottom, url("../img/bg/filter-right.png") no-repeat calc(50% + 600px) bottom;
  }
  .filter-form {
    max-width: 998px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (max-width: 1280px) {
  .filter {
    background: none;
  }
  .filter-form {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (max-width: 446px) {
  .filter {
    background: linear-gradient(180deg, rgba(25, 122, 194, 0) 31.84%, #197AC2 67.36%), url("../img/bg/filter-left.png") no-repeat -28px -webkit-calc(100% - 68px) / auto 315px, url("../img/bg/filter-right.png") no-repeat -webkit-calc(100% + 48px) -webkit-calc(100% - 68px) / auto 315px;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(31.84%, rgba(25, 122, 194, 0)), color-stop(67.36%, #197AC2)), url("../img/bg/filter-left.png") no-repeat -28px calc(100% - 68px) / auto 315px, url("../img/bg/filter-right.png") no-repeat calc(100% + 48px) calc(100% - 68px) / auto 315px;
    background: linear-gradient(180deg, rgba(25, 122, 194, 0) 31.84%, #197AC2 67.36%), url("../img/bg/filter-left.png") no-repeat -28px calc(100% - 68px) / auto 315px, url("../img/bg/filter-right.png") no-repeat calc(100% + 48px) calc(100% - 68px) / auto 315px;
  }
}
@media screen and (max-width: 520px) {
  .jk-item-new-like {
    right: auto;
    width: 48px;
    height: 48px;
    left: 16px;
    top: 16px;
    background: rgba(0, 0, 0, 0.4);
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
            justify-content: center;
    -webkit-border-radius: 50%;
            border-radius: 50%;
  }
  .jk-item-new-like.like-btn--active {
    background: #fff;
  }
}
.pray--yellow {
  background: #FFE2AD;
}
@media screen and (max-width: 680px) {
  .pray--yellow .pray__img {
    background: #ffdc9b;
  }
}
.lk-content--success {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
          flex-grow: 1;
}
.success-page {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
          justify-content: center;
  text-align: center;
  width: 100%;
  min-height: 100%;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
          flex-grow: 1;
}
.success-page .success-modal__btn {
  max-width: 360px;
}
.header-mobile-logo .logo__img .icon {
  height: 32px;
}
