<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="shortcut icon" type="image/x-icon" href="icon/favicon.ico">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- <link rel="stylesheet" href="source/_libs.css"> -->
  <!-- <link rel="stylesheet" href="css/frontend--fonts.css"> -->
  <!-- <link rel="stylesheet" href="css/frontend--style.css"> -->
  <!-- <link rel="stylesheet" href="css/krd-styles.css"> -->
  <link rel="stylesheet" href="dist/css/style.css">

  <title>Объекты - Сервис Кравченко</title>
</head>

<body class="">
  <section>
    <div class="jk-item-content__name">Карточка с главной</div>

    <%= require('../html_includes/jk-item.html').default %>
  </section>

  <section>
    <div class="jk-item-content__name">Карточка с админки</div>

    <%= require('../html_includes/lk-jk-item.html').default %>
  </section>

  <section>
    <button class="btn btn--primary" data-fancybox data-src="new-success-dialog.html" data-type="ajax">Открыть окно с успехом</button>
  </section>









  <script src="src/source/jquery-3.5.0.min.js"></script>
  <script src="src/source/jquery.fancybox.min.js"></script>
  <script src="src/source/maskedinput.js"></script>
  <script src="src/source/waves.js"></script>
  <script src="src/source/swiper-bundle.min.js"></script>
  <script src="src/source/select.bundle.min.js"></script>

  <script src="src/js/frontend--polifils.js"></script>
  <script src="src/js/frontend--modal.js"></script>
  <script src="src/js/frontend--tab.js"></script>
  <script src="src/js/frontend--toggle.js"></script>
  <script src="src/js/frontend--template.js"></script>


</body>

</html>